.skills__container {
	max-width: 570px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	justify-content: center;

}

.title {
	font-weight: bold;
	font-size: 60px;
	letter-spacing: -0.5px;
	color: var(--purple);
}

.skill__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.text {
	text-align: center;
	font-size: 18px;
	letter-spacing: -0.5px;
}

.subtitle {
	font-weight: bold;
	font-size: 40px;
	letter-spacing: -0.5px;
	color: var(--text-color);
}

@media (max-width: 620px) {
	.title {
		font-size: 40px;
		margin-bottom: 20px;
	}

	.subtitle {
		font-size: 30px;
	}

	.skill__wrapper {
		gap: 10px;
	}

	.skills__container {
		gap: 20px;
	}

	.text {
		font-size: 16px;
	}
}